@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
    --primary: #6c81db;
    --secondary: #ff6744;
    --bg-1: #f7f1f0;
    --bg-2: #fdfcfe;
    --grey: #9a9a9a;
    --text-color: #28262b;
}

@mixin pseudo {
    content: '';
    position: absolute;
    display: block;
}

@mixin circle($r) {
    width: $r;
    height: $r;
    border-radius: 50%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
}

html {
    height: 100%;
}

html,
body {
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    align-items: center;
    background: white;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    width: 100%;
    padding: 1.125rem 6rem;
    scroll-snap-align: start;
}

h1 {
    margin: 0;
    font-size: 5rem;
    line-height: 1.1;
}

h2 {
    color: var(--secondary);
    margin: 1rem 0;
    font-weight: 800;
}

h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
}

.alt-text {
    color: var(--primary);
}

.page-container {
    width: 90vw;
    margin: auto;
    overflow-y: auto;
    border-top-left-radius: 60px;
    height: 80vh;
    box-shadow: 0px 20px 24px 0px rgba(200, 200, 200, 0.24);
    scroll-snap-type: y proximity;
    scroll-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

/****************************************
 * Landing Page Styles
*********/
.landing {
    background: var(--bg-1);
    display: flex;
    flex-direction: column;

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1.25rem;
    }

    .navbar-logo {
        width: 40px;
        height: 40px;

        .logo-circle {
            position: absolute;
            @include circle(30px);

            &.-orange {
                background: var(--secondary);
            }

            &.-purple {
                width: 32px;
                height: 32px;
                transform: translate(16px, 16px);
                background: var(--primary);
            }
        }
    }

    .navbar-items {
        display: flex;
        list-style: none;
        flex: 1;

        .navbar-item {
            padding: 0.75rem 2rem;
        }
    }

    .navbar-lang {
        padding: 0.75rem 2rem;

        span {
            color: var(--secondary);
        }
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        align-items: center;
        margin: 3rem 0 5rem;

        .landing-text {
            grid-column: 1 / 6;
            font-size: 1.25rem;
        }

        .landing-image {
            grid-column: 9 / -1;
            z-index: 1;

            .vertical-text {
                top: -50px;
                left: -100px;
                height: max-content;
            }

            &-wrapper {
                width: 80%;
                margin: auto;
                z-index: 2;
            }

            &::before {
                @include pseudo;
                width: 1px;
                height: 250px;
                transform: rotate(36deg);
                background: var(--text-color);
                bottom: -88px;
                left: 245px;
                z-index: 1;
            }
            &::after {
                @include pseudo;
                @include circle(250px);
                left: 160px;
                bottom: -15px;
                background: var(--primary);
                z-index: 0;
            }
        }

        .landing-buttons {
            display: flex;
            margin-top: 5rem;
            align-items: center;

            .button-wrapper::after {
                @include pseudo;
                top: 12px;
                left: 12px;
                width: 100%;
                height: 100%;
                border: 1px dashed var(--text-color);
                border-radius: 30px 0 30px 0;
                z-index: 0;
            }

            button {
                padding: 1rem 2rem;
                border: 0;
                background: var(--secondary);
                border-radius: 30px 0 30px 0;
                color: white;
                font-family: 'Rubik';
                font-weight: 500;
                font-size: 1rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                cursor: pointer;
                outline: none;
                z-index: 1;
            }

            span {
                padding: 0.75rem 1.5rem;
                margin-left: 1.5rem;
            }
        }
    }
}

/****************************************
 * Benefits Section Styles
*********/
.benefits {
    background: var(--bg-2);
}

.benefits-title {
    margin: 5rem 0 4rem;
}

.benefits-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin-bottom: 5rem;

    .benefits-image {
        grid-column: 1;

        &-wrapper {
            width: 80%;
            z-index: 1;
        }

        &::after {
            @include pseudo;
            border: 1px solid var(--grey);
            width: 80%;
            height: 80%;
            top: -30px;
            left: -30px;
        }
    }

    .benefits-list {
        grid-column: 2;

        .list-item-wrapper {
            display: flex;
            align-items: flex-start;
            margin-bottom: 3rem;
            width: 80%;
        }

        .list-index {
            margin-right: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            @include circle(50px);
            background: var(--secondary);

            .index-wrapper {
                flex-shrink: 0;
                font-size: 1.5rem;
                font-weight: 700;
            }

            &::after {
                @include pseudo;
                @include circle(50px);
                top: -5px;
                left: 5px;
                border: 1px dashed var(--text-color);
            }
        }

        .list-text {
            flex: 1;
        }
    }
}

/****************************************
 * Popular Items Section Styles
*********/
.popular {
    background: white;

    &::before {
        @include pseudo;
        @include circle(40px);
        background: var(--primary);
        top: 20px;
        right: 200px;
        z-index: 1;
    }

    &::after {
        @include pseudo;
        @include circle(1800px);
        background: var(--bg-1);
        top: -2rem;
        left: -36rem;
        z-index: 0;
    }

    &-title {
        margin: 5rem 0 4rem;
        z-index: 1;
    }

    &-container {
        z-index: 1;
    }

    &-item-wrapper {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        align-items: center;
        margin: 4rem 0 5rem;

        .popular-image {
            grid-column: 2 / span 4;

            .vertical-text {
                right: -80px;
                top: -30px;
            }

            &-wrapper {
                z-index: 1;

                &::after {
                    @include pseudo;
                    content: '';
                    writing-mode: vertical-lr;
                    text-orientation: upright;
                    font-size: 10rem;
                }
            }

            &::after {
                @include pseudo;
                @include circle(180px);
                background: var(--primary);
                bottom: 45px;
                left: -30px;
                z-index: 0;
            }

            &.-reverse {
                &::after {
                    top: 0;
                    right: 0;
                    bottom: auto;
                    left: auto;
                }

                .vertical-text {
                    left: -80px;
                    top: -30px;
                }
            }
        }

        .popular-text {
            grid-column: 10 / span 4;

            .popular-description {
                margin-bottom: 3rem;
            }

            .make-order {
                padding: 0.75rem 2.5rem;

                p {
                    font-weight: 500;
                    font-size: 1rem;
                    letter-spacing: 1px;
                    font-family: 'Rubik';
                    text-transform: uppercase;
                }

                &::after {
                    @include pseudo;
                    @include circle(65px);
                    top: 50%;
                    left: 26px;
                    transform: translateY(-50%);

                    border: 1px dashed var(--text-color);
                }
            }

            .order-circle {
                position: absolute;
                @include circle(65px);
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: var(--secondary);
            }
        }

        &.-reverse {
            .popular-image {
                grid-column: 10 / span 5;
            }
            .popular-text {
                grid-column: 3 / span 4;
                grid-row: 1;
            }
        }
    }
}

.vertical-text {
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 9rem;
    color: rgba(225, 225, 225, 0.6);
}

.top-filled-circle {
    position: absolute;
    width: 530px;
    height: 530px;
    background: var(--primary);
    border-radius: 50%;
    top: -159px;
    left: -190px;
}

.bottom-filled-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background: var(--secondary);
    border-radius: 50%;
    bottom: -140px;
    left: 340px;
}

.top-dotted-circle {
    position: absolute;
    top: -204px;
    left: -234px;
    width: 650px;
    height: 650px;

    circle {
        animation-duration: 15s;
    }
}

.bottom-dotted-circle {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: 20px;
    right: 20px;
}

circle {
    position: relative;
    fill: transparent;
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 8, 8.5;
    // animation: rotate 9s both infinite reverse linear;
    transform-origin: center;
    will-change: transform;
}

@keyframes rotate {
    to {
        transform: rotateZ(360deg);
    }
}
